.body-container {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 60vw;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

.error {
    color: red;
}


.right, .left {
    padding: 10px;
}
.left {
    float: left;
    width: 20%;
    position: relative;
}
.alert-button {
    position: fixed;
    padding: 1rem 2rem;
    background-color: #0000aa;
    color: white;
    font-size: 120%;
}
.right {
    float: right;
    width: 80%;
}

.clear {
    clear: both;
}
